@model MySocialMedia.ViewModels.Account.MainViewModel

@using MySocialMedia.Models.Users
@using MySocialMedia.ViewModels
@using MySocialMedia.ViewModels.Account

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager;


@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}
@if (SignInManager.IsSignedIn(User))
{
    var user = await UserManager.GetUserAsync(User);
    var fullName = $"{user?.FirstName} {user?.LastName}";
    <h1>@(string.IsNullOrEmpty(fullName.Trim()) ? "Добро пожаловать!" : $"Добро пожаловать, {fullName}!")</h1>
}
else
{
     <div class="row">
        <div class="side">
            <div class="center">
                Пользуйтесь нашей самой крутой соцсетью! Регистрируйтесь всего за 2 минуты, делитесь мыслями, находите новых друзей.
            </div>
            <img class="main-img" src="http://pngimg.com/uploads/husky/husky_PNG19.png" />
        </div>


        <div class="main">
            <partial name="Login" model="Model.LoginView" />
            <partial name="Register" model="Model.RegisterView" />
        </div>

    </div>

}