@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<div class="righ-align">
    @if(SignInManager.IsSignedIn(User))
    {
       @*  <button class="enter_submit" asp-area ="" asp-controller="AccountManager" asp-action="Logout">Выход</button> *@
        <form method="post" asp-controller="AccountManager" asp-action ="Logout">
            <input class=" enter_submit" type="submit" value="Выход" />
        </form>
    }
</div>