<div class="search-box">
    <form asp-controller="AccountManager" asp-action="UserList" method="get" class="search-form">
        <div class="input-group">
            <input type="text" name="search" placeholder="Поиск пользователей..." class="form-control search-input">
            <button type="submit" class="btn btn-primary">
                <i class="fas fa-search"></i>
            </button>
        </div>
    </form>
</div>