@model MySocialMedia.ViewModels.Account.RegisterViewModel

<div class="auth-block">
    <h3 class="text-center">Продолжение регистрации</h3>

    <form asp-controller="Register" asp-action="Register" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <input type="hidden" asp-for="FirstName" />
        <input type="hidden" asp-for="LastName" />
        <input type="hidden" asp-for="Date" />
        <input type="hidden" asp-for="Month" />
        <input type="hidden" asp-for="Year" />

        <div class="form-group">
            <label asp-for="EmailReg" class="form-label"></label>
            <input asp-for="EmailReg" class="form-control" />
            <span asp-validation-for="EmailReg" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Login" class="form-label"></label>
            <input asp-for="Login" class="form-control" placeholder="Введите повторно ваш email" />
            <span asp-validation-for="Login" class="text-danger" ></span>
        </div>

        <div class="form-group">
            <label asp-for="PasswordReg" class="form-label"></label>
            <input asp-for="PasswordReg" class="form-control" />
            <span asp-validation-for="PasswordReg" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="PasswordConfirm" class="form-label"></label>
            <input asp-for="PasswordConfirm" class="form-control" />
            <span asp-validation-for="PasswordConfirm" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary btn-block">Завершить регистрацию</button>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}