@model MySocialMedia.Views.ViewModels.Account.UserViewModel

@{
    ViewData["Title"] = "Личный кабинет";
}

<div class="block-reg background-white">
    <h4>Добро пожаловать, @Model.User.GetFullName()!</h4>

    <div>
        <img src="@Model.User.Image" alt="Фото профиля" />
    </div>

    <div>
        <label>Email: @Model.User.Email</label>
    </div>

    <div>
        <label>Статус: @Model.User.Status</label>
    </div>

    <a asp-controller="AccountManager" asp-action="Edit">Редактировать профиль</a>
</div>